<!DOCTYPE html>
<html>
<head>
    <title>Weather</title>
    <link rel='icon' href="/images/weather.png">
    <link rel="stylesheet" type="text/css" href="/css/text.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This is a Simple Weather Application where you enter a place name and its show its weather details</p>
        <img src="/images/me.jpg">
        <p>Contact Me</p>
        <p>Email Id: {{email}}</p>
        <br>
        <p>Thank You for using it</p>
        </div>
    {{>footer}}
</body>

</html>