<!DOCTYPE html>
<html>
<head>
    <title>Weather</title>
    <link rel='icon' href="/images/weather.png">
    <link rel="stylesheet" type="text/css" href="/css/text.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Contact Me</p>
        <p>Name: {{name}}</p>
        <p>Number: {{number}}</p>
        </div>
    {{>footer}}
</body>

</html>