<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel='icon' href="/images/weather.png">
    <link rel="stylesheet" type="text/css" href="/css/text.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Some Help would be updated soon</p>
    </div>
    {{>footer}}
</body>
</html>